<!doctype html>
<html ng-app="myApp">
<head><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="js/controller.js"></script>
</head>
<body ng-controller="myCtrl">
  <table width=100% style="display:none">
  <tr>
  <td><div ><input id="nr1" type="range" min="0" ng-max="max1" max="{{max1}}" value="0" ng-model="num1" class="slider_red"></div></td>
  <td><div ><input id="nr2" type="range" min="0" ng-max="max2" max="{{max2}}" value="0" ng-model="num2" class="slider_blue">
  </div></td>

  </tr>

  </table>
  <table id="result" width=100% >
  <tr>
  <td><div class="one" style="background-color:#ffe6e6">{{num1}}</div></td>
  <td><div class="one">+</div></td>
  <td><div class="one" style="background-color:#e6e6ff">{{num2}}</div></td>
  <td><div class="one">=</div></td>
  <td><div class="one" style="background-color:#e6ffe6">?</div></td>

  </tr>


  </table>
  <div  class='box'  ng-repeat="n in range1()">
  <div style="display:table-cell;vertical-align:middle;">
    <div  class='content1' style="text-align:center;">{{$index+1}}</div>
  </div>
</div>

  <div class='box' ng-repeat="n in range2()">
  	<div class='content2'>{{$index+1}}</div>
  </div>
  <div class='box' ng-repeat="n in range3()">
  	<div class='content3'></div>
  </div>

  <table width=100% >
  <tr>
  <td style="width:25%" ng-repeat="n in range4()"><button class="w3-button w3-white w3-border w3-round-large" style="width:100%; font-size:300%" ng-click="test(n[0])"> - {{n[0]}} - </button></td>

  </tr>

  </table>
  <table width=100% >
  <tr>
  <td><div ><input id="wrong" type="range" min="0" ng-max="max" max="{{max}}" value="0" ng-model="wrong" class="slider_red" disabled></div></td>
  </div></td>

  </tr>
  <tr>
  <td><div ><input id="right" type="range" min="0" ng-max="max" max="{{max}}" value="0" ng-model="right" class="slider_blue" disabled>
  </div></td>

  </tr>

  </table>
<span>Wrong Answers: {{wrong}}</span>
<span>Right Answers: {{right}}</span>
</body>
</html>
